@model UltimateMonopoly.Models.ViewModels.Social.FriendViewModel
@{
    var name = Model.DisplayName ?? Model.Username;
}
<ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" asp-page="./Profile" asp-route-userId="@Model.FriendId">View Profile</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li>
        <form method="post" asp-page-handler="Remove" class="m-0">
            <input type="hidden" name="userId" value="@Model.FriendId" />
            <button type="submit" class="dropdown-item text-warning">Remove Friend</button>
        </form>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
        <form method="post" asp-page-handler="Block" class="m-0">
            <input type="hidden" name="userId" value="@Model.FriendId" />
            <button type="submit" class="dropdown-item text-danger">Block</button>
        </form>
    </li>
    <li>
        <button type="button" class="dropdown-item text-danger"
                data-bs-toggle="modal" data-bs-target="#reportModal"
                data-friend-id="@Model.FriendId" data-friend-name="@name">
            Block &amp; Report
        </button>
    </li>
</ul>